#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    background-color: #222222;
}

.btn {
    background: crimson;
}

.btn:hover {
    background-color: orange;
}

.btn:active {
    background-color: red;
}

a {
    color: orange;
}

a:hover {
    color: crimson;
}

@media (max-width: 576px) {
    .card-columns {
        padding: 4rem;
        column-count: 2;
    }
}